
*.txss
*.out
*.o
*.d
*.ind
*.hex
*.map
*.elf
*.au
*.synctex*
*.bcf
*.idx
*.lof
*.emSession
*.run.xml
*.lot
*.bbl
*.blg
tmp/
/tmp
*.toc
*.thm
*.jlink

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.rej
*-blx.bib
*.ptc
*.tdo
*.equ

!s140_nrf52_6.1.0_softdevice.hex


